*.pyc
*.log
*.zip
*.csv
*Cloudera*
/ClouderaStats/*
**.pyc
**.log
**.zip
**.csv
**.Cloudera*
**/ClouderaStats/*
*.jar
**.jar
*.avsc
**.avsc
/MAP/*
*MAP*
/REDUCE/*
*REDUCE*
*.avro
**.avro
/temp/*
**/temp/*
capycityplanr/temp/*
*.sh
