*.pyc
*.log
*.zip
*.csv
**.pyc
**.log
**.zip
**.csv
*.jar
**.jar
*.avsc
**.avsc
/MAP/*
*MAP*
/REDUCE/*
*REDUCE*
*.avro
**.avro
/temp/*
**/temp/*
capycityplanr/temp/*
*.sh
src/clouderasizer/output/*
src/clouderasizer/output/*/*
